{% load static %}
{% load goods_tags %}


{% if request.path == "/catalog/kardiologiya/" %}
<div class="container staff_css">
  <div class="row">
      <div class="col-lg-6">
        <h3>Симптомы и заболевания, требующие консультации кардиолога</h3>
        <p>Рекомендуется консультация кардиолога, если у Вас:</p>
        <ul>
        <li>Одышка;</li>
        <li>Повышенная потливость;</li>
        <li>Слабость;</li>
        <li>Обмороки и головокружения;</li>
        <li>Отечность нижних конечностей;</li>
        <li>Учащенное сердцебиение;</li>
        <li>Резкие перепады артериального давления.</li>
        </ul>
        <p>Так же обязательно наблюдение врача кардиолога, если:</p>
        <ul>
        <li>У вас был гипертонический криз;</li>
        <li>У вас выявлен ревматизм, гипертоническая болезнь или сахарный диабет;</li>
        <li>Вы планируете беременность.</li>
        </ul>
        <p>Заболевания, которые мы лечим:</p>
        <ul>
        <li>Аритмия</li>
        <li>Артериальная гипотония</li>
        <li>Атеросклероз</li>
        <li>Блокады сердца</li>
        <li>Гипертоническая болезнь</li>
        <li>Гипертонический криз</li>
        <li>Двустворчатый аортальный клапан</li>
        <li>Диабетическая стопа</li>
        <li>Диффузные изменения миокарда</li>
        <li>Инфаркт миокарда</li>
        <li>Ишемическая болезнь сердца</li>
        <li>Кардиомиопатия</li>
        <li>Коарктация аорты</li>
        <li>Мерцание предсердий</li>
        <li>Миокардит</li>
        <li>Перикардит</li>
        <li>Порок сердца</li>
        <li>Сердечная недостаточность</li>
        <li>Эндокардит</li>
        </ul>
      </div>
      <div class="col-lg-6">
          <img src="{% static "images/cardio.png" %}" alt="Изображение">
      </div>
  </div>
</div>

{% elif request.path == "/catalog/nevrologiya/" %}
<div class="container staff_css">
  <div class="row">
      <div class="col-lg-6">
        <h3>Симптомы и заболевания, требующие консультации невролога</h3>
        <p>Рекомендуется консультация невролога, если у Вас:</p>
        <ul>
        <li>Боли в области шеи, спины, пояснице, конечностях, мышечные боли, судороги;</li>
        <li>Головная боль, мигрень;</li>
        <li>Нарушение обоняния, слуха;</li>
        <li>Нарушение чувствительности;</li>
        <li>Головокружение, шаткость, шум в ушах, обмороки;</li>
        <li>Расстройство сна;</li>
        <li>Нарушение памяти и внимания;</li>
        <li>Нарушение координации движения;</li>
        <li>Нервозность, раздражительность, повышенная тревожность.</li>
        </ul>
        <p>Заболевания, которые мы лечим:</p>
        <ul>
        <li>Вегето-сосудистая дистония;</li>
        <li>Геморрагический инсульт (восстановительный период);</li>
        <li>Головная боль напряжения;</li>
        <li>Головокружение;</li>
        <li>Ишемический инсульт (восстановительный период);</li>
        <li>Миастения;</li>
        <li>Кластерная головная боль;</li>
        <li>Миалгия;</li>
        <li>Мигрень;</li>
        <li>Мышечная дистония;</li>
        <li>Нарушения сна (диссомния);</li>
        <li>Невралгия тройничного нерва;</li>
        <li>Невропатия лицевого нерва;</li>
        <li>Обмороки;</li>
        <li>Остеохондроз;</li>
        <li>Паркинсонизм;</li>
        <li>Протрузия и грыжа дисков;</li>
        <li>Рассеянный склероз;</li>
        <li>Синдром крампи;</li>
        <li>Транзиторная ишемическая атака;</li>
        <li>Туннельный синдром.</li>
        </ul>
      </div>
      <div class="col-lg-6">
          <img src="{% static "images/nevrologya.png" %}" alt="Изображение">
      </div>
  </div>
</div>

{% elif request.path == "/catalog/gastroenterologiya/" %}
<div class="container staff_css">
  <div class="row">
      <div class="col-lg-6">
          <h3>Симптомы и заболевания, требующие консультации гастроэнтеролога</h3>
          <p>Рекомендуется консультация гастроэнтеролога, если у Вас:</p>
          <ul>
            <li>Нарушение аппетита;</li>
            <li>Тошнота или рвота;</li>
            <li>Жидкий стул или затруднения при акте дефекации;</li>
            <li>Горький или кислый вкус во рту;</li>
            <li>Отрыжка, изжога;</li>
            <li>Боль и тяжесть в правом боке или в области желудка;</li>
            <li>Вздутие живота и метеоризм.</li>
          </ul>
          <p>Заболевания, которые мы лечим:</p>
          <ul>
            <li>Язвенная болезнь желудка и двенадцатиперстной кишки;</li>
            <li>Пищевод Баррета;</li>
            <li>Гастроэзофагеальная рефлюксная болезнь (ГЭРБ);</li>
            <li>Гастрит;</li>
            <li>Дуоденит;</li>
            <li>Панкреатит (хронический);</li>
            <li>Желчекаменная болезнь;</li>
            <li>Холецистит;</li>
            <li>Бактериоз;</li>
            <li>Энтерит;</li>
            <li>Синдром раздраженной толстой кишки;</li>
            <li>Неспецифический язвенный колит;</li>
            <li>Эзофагит.</li>
          </ul>
        </div>
      <div class="col-lg-6">
          <img src="{% static "images/gastro.png" %}" alt="Изображение">
      </div>
  </div>
</div>
{% elif request.path == "/catalog/psihologiya/" %}
<div class="container staff_css">
  <div class="row">
      <div class="col-lg-6">
        <h3>Симптомы и заболевания, требующие консультации психолога</h3>
        <p>Рекомендуется консультация психолога, если у Вас:</p>
        <ul>
          <li>Трудности с межличностными отношениями;</li>
          <li>Различные стереотипы;</li>
          <li>Снижение интереса к жизни;</li>
          <li>Эмоциональные и поведенческие расстройства (страхи, зависимости, тревожные состояния и др.).</li>
        </ul>
        <p>Также к специалистам рекомендуют обращаться при:</p>
        <ul>
          <li>Ощущении одиночества;</li>
          <li>Ощущениях тревоги, подавленности, грусти;</li>
          <li>Постоянном утомлении и усталости;</li>
          <li>Мыслях о смерти;</li>
          <li>Беспокойстве без повода;</li>
          <li>Постоянном страхе;</li>
          <li>Зависимостях любых типов;</li>
          <li>Потере близких;</li>
          <li>Возникновении конфликтных ситуаций с близкими, друзьями, коллегами и др.</li>
        </ul>
        <p>Наши специалисты психологи применяют стандартизированные профессиональные методики для психодиагностики.<p>
        <p>В психологическом консультировании, психотерапии используют интегративный подход ( кпт, EMDR, гештальт терапия, психодрама, арттерапия, обучение приемам психоэмоциональной волевой саморегуляции- дыхательные упражнения, аутогенная тренировка, тренинг мышечного расслабления, медитации и др.).</p>
      </div>
      <div class="col-lg-6">
          <img src="{% static "images/psycho.png" %}" alt="Изображение">
      </div>
  </div>
</div>
{% endif %}



