{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid carousel-container">
  <div class="row justify-content-center">
    <!-- Левые контейнеры -->
    <div class="col-lg-2 col-md-12 mt-md-4">
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-body bg-green">
          <h5 class="card-title">Невролог</h5>
          <p class="card-text">Лечение заболевания нервной системы, позвоночника и сосудов головного мозга.</p>
          <a href="#" class="btn btn-primary"> Запись </a>
        </div>
      </div>
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-body bg-blue">
          <h5 class="card-title">Кардиолог</h5>
          <p class="card-text">Специалист по сердцу: диагностика, лечение, профилактика болезней.</p>
          <a href="#" class="btn btn-primary">Запись</a>
        </div>
      </div>
    </div>
    
    <!-- Карусель -->
    <div class="col-lg-6 col-md-12">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static "images/gymm.jpg" %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-red bg-yellow">
              <h5>У нас работают лучшие специалисты.</h5>
              <p>Пациентов нашей клиники встречают и консультируют приветливые администраторы, лечат – внимательные и компетентные врачи.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static "images/slide1.jpg" %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-red bg-yellow">
              <h5>Медтехника</h5>
              <p>На территории нашего медицинского центра работает магазин ортопедических товаров. В наличии имеются различные бандажи, ортезы, корсеты. Также, можно оформить заказ.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static "images/slide2.jpg" %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-red bg-yellow">
              <h5>Тренажерный зал</h5>
              <p> Наш оздоровительно-тренажерный зал идеально подходит для новичков. Мы работаем под присмотром специалистов и по индивидуальной программе для каждого пациента. Проводятся как индивидуальные так и групповые занятия.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- Правые контейнеры -->
    <div class="col-lg-2 col-md-12 mt-md-4">
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-body bg-yellow">
          <h5 class="card-title">Психолог</h5>
          <p class="card-text">помощь в решении психологических проблем, поддержка в кризисных ситуациях, развитие личности.</p>
          <a href="#" class="btn btn-primary">Запись</a>
        </div>
      </div>
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-body bg-purple">
          <h5 class="card-title">Гастроэнтеролог</h5>
          <p class="card-text">Специалист по лечению нарушений ЖКТ.</p>
          <a href="#" class="btn btn-primary">Запись</a>
        </div>
      </div>
    </div>
    
  </div>
</div>


<hr class="border border-primary only-one">

<div class="container">
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>В удобное для вас время, вы можете посетить врачей разных специальностей, получить квалифицированные медицинские услуги и посетить оздоровительно-тренажерный зал.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      команда <cite title="Source Title">Медицинского центра</cite>
    </figcaption>
  </figure>
</div>

<hr class="border border-primary only-one">

<div class="container">
  <h1 class="title">Мы предлагаем нашим клиентам</h1>
</div>

<div class="container">
  <div class="row">
    {% for service in services %}
    <div class="col-lg-4 col-md-6 p-4">
      <div class="card border-primary rounded custom-shadow">
          <div class="card-body">
              {% comment %} <a href="{% url "catalog:product" service.pk %}"> {% endcomment %}
                  <p class="card-title">
                      {{ service.name }}
                  </p>
              </a>
              <p class="card-text">
                  {{ service.price }} $
              </p>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>




{% endblock content %}