/* Глобальные стили */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: Roboto, serif;
  background-color: #f9faff; /* Чисто белый цвет фона */
  height: 100%;
  margin: 20px;
}

/* Карточки */
.card {
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  /* тени */
}

/* Цвета для карточек */
.bg-white {
    background-color: white;
}


/* Навигационная панель */
.navbar {
    margin-bottom: -10px;
}

.navbar-custom {
    background-color: rgb(255, 255, 255) !important;
    color: #000000 !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar-text {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
}

/* Контейнер текста */
.text-container {
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
}

/* Карусель */
.carousel {
    margin-top: 25px;
    max-width: 100%;
    /* background-color: #ffffff; */
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.carousel-item img {
  border-radius: 20px; /* Скругляем края изображения */
}

.carousel-inner, .carousel-item {
    height: 100%;
    border-radius: 5px;
}

.carousel-container {
    position: relative;
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}

/* Текст в карточках */
.card-text {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}

/* Тело карточки */
.card-body {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    text-align: center; */
}

/* Кнопки */
.btn {
    margin-bottom: 5px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: white;
}

.btn-primary {
    font-size: 15px;
    padding: 15px;
}

.btn:hover {
    background-color: white;
    color: #007bff;
}

/* Подвал */
/* .footer-custom {
    background-color: hsla(0, 0%, 95%, 0.8) !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer-custom p {
    color: hsl(0, 0%, 0%) !important;
} */

/* Фигуры и блоки */
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Рамка внизу */
hr.only-one {
    margin-left: 15%; /* Задаем отступ слева */
    margin-right: 15%; /* Задаем отступ справа */
    border-color: #1634c93a !important;
    border-width: 3px !important;
    opacity: 0.75 !important;
    
}

.border-primary {
    margin: 50px;
}


.row {
  margin-bottom: 20px; /* Отступ между строками */
}



.container {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #333; /* цвет текста */

}

.custom {
    background-color: white; /* Цвет фона карточек */
    margin-bottom: 5px; /* Отступ между карточками */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
}


.carousel-control-prev-icon1, .carousel-control-next-icon1 {
    background-image: none;
}

.carousel-control-prev-icon::before, .carousel-control-next-icon::before {
    display: none;
}


/* styles.css */
.price-table td {
    width: 50%;
}

#scrollingMenu {
    position: fixed;
    top: 50%; /* Начальное положение в середине экрана */
    transform: translateY(-50%);
    width: 22%; /* Ширина контейнера */
    max-width: 250px; /* Максимальная ширина контейнера */
    left: 20px; /* Отступ от левого края экрана */
    overflow-y: auto; /* Добавление прокрутки, если высота блока превышает высоту экрана */
}



/* Стили для staff_detail */

  .container.staff_css h1 {
    color: #333333a1;
    text-align: left;
  }
  
  .container.staff_css p {
    color: #0b0f7e;
    text-align: left;
  }
  
  .container.staff_css ul {
    list-style-type: square;
    padding-left: 20px;
    text-align: left;
    color: #333333a1;
  }
  





.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category {
    width: 200px;
    margin: 10px;
    text-align: center;
}



/* Глав страница консультации */

.xd {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .categories-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px; /* Отступ слева */
  }
  
  .category {
    margin-bottom: 10px; /* Регулируйте это значение по вашему усмотрению */
  }
  
.large-image img {
  border-radius: 10px; /* Скругление углов */
  max-width: 800px; /* Максимальная ширина изображения */
  max-height: 1600px; /* Максимальная высота изображения */
  width: auto; /* Автоматическое вычисление ширины */
  height: auto; /* Автоматическое вычисление высоты */
  overflow: hidden; /* Обрезание скругленных углов */
  margin-top: -50px; /* Верхний отступ */
}

.large-image-container {
    position: relative;
  }
  
  .large-image {
    position: relative;
    border-radius: 10px; /* Скругление углов */
    max-width: 800px; /* Максимальная ширина изображения */
    max-height: 1600px; /* Максимальная высота изображения */
    width: auto; /* Автоматическое вычисление ширины */
    height: auto; /* Автоматическое вычисление высоты */
    overflow: hidden; /* Обрезание скругленных углов */
  }
  
  .large-image-overlay {
    position: absolute;
    top: -60px; /* Отступ вверх, чтобы выходить за пределы изображения */
    right: -60px; /* Отступ вправо, чтобы выходить за пределы изображения */
    width: calc(100% + 20px); /* Ширина рамки */
    height: calc(100% + 20px); /* Высота рамки */
    background-color: rgba(98, 98, 98, 0.458); /* Цвет рамки */
    z-index: -1; /* Размещаем за основным изображением */
    border-radius: 10px; /* Скругление углов */
    overflow: hidden; /* Обрезание скругленных углов */
  }

  /* Глав страница консультации */

  .con {
    font-weight: bold; /* Жирный текст */
    font-size: 24px; /* Увеличенный размер шрифта */
    color: #333; /* цвет текста */

  }
  .categories-column a {
    color: #333; /* Цвет ссылок */
  }
  