/* Глобальные стили */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: Roboto, serif;
  background-color: #f9faff; /* Чисто белый цвет фона */
  height: 100%;
  margin: 20px;
}

/* Карточки */
.card {
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  /* тени */
}

/* Цвета для карточек */
.bg-white {
    background-color: white;
}


/* Навигационная панель */
.navbar {
    margin-bottom: -10px;
}

.navbar-custom {
    background-color: rgb(255, 255, 255) !important;
    color: #000000 !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar-text {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
}

/* Контейнер текста */
.text-container {
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
}

/* Карусель */
.carousel {
    margin-top: 25px;
    max-width: 100%;
    /* background-color: #ffffff; */
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.carousel-item img {
  border-radius: 20px; /* Скругляем края изображения */
}

.carousel-inner, .carousel-item {
    height: 100%;
    border-radius: 20px;
}

.carousel-container {
    position: relative;
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}

/* Текст в карточках */
.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Тело карточки */
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Кнопки */
.btn {
    margin-bottom: 5px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: white;
}

.btn-primary {
    font-size: 15px;
    padding: 15px;
}

.btn:hover {
    background-color: white;
    color: #007bff;
}

/* Подвал */
/* .footer-custom {
    background-color: hsla(0, 0%, 95%, 0.8) !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer-custom p {
    color: hsl(0, 0%, 0%) !important;
} */

/* Фигуры и блоки */
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Рамка внизу */
hr.only-one {
    margin-left: 15%; /* Задаем отступ слева */
    margin-right: 15%; /* Задаем отступ справа */
    border-color: #ebebeb !important;
    border-width: 3px !important;
    opacity: 0.75 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.border-primary {
    margin: 50px;
}


.row {
  margin-bottom: 20px; /* Отступ между строками */
}



.container {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #333; /* цвет текста */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* тень текста */
}

.custom {
    background-color: white; /* Цвет фона карточек */
    margin-bottom: 5px; /* Отступ между карточками */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
}